#textin, #md_textin {
    margin-left: 2em
}

#textout, #md_textout {
    width: 700px;
    height: 290px;
    float: right;
    border: 1px solid #CCC;
    padding: 1em;
    display: block;
    overflow: auto;
    line-height: 1.5em;
}
